

.help-error{
	color: #a94442;
	font-size: small;
}

.add-record-row{
	margin-bottom: 15px;
}

div.result {
	display: inline;
}

div.result input{
	background:none;
	border: none;
}


div.result.editing input{	
	background: white;
	border: 2px inset;
}

.result.fail input{	
	color: #a94442;	
}

.remove{
	margin-left: 26px;
}

ul{
	list-style-type: none;
	padding: 0px;
}

ul li {
	padding-top:5px;	
}


 
