
div.result {
	display: inline;
}

div.result input{
	background:none;
	border: none;
}


div.result.editing input{	
	background: white;
	border: 2px inset;
}

div.result.fail{	
	background-color: lightpink;
}

ul{
	list-style-type: none;
	padding: 0px;
}

ul li {
	padding-top:5px;	
}

li:first-child{
	margin-top:10px;
}
 
